/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/.env
/test/dummy/.env
/Step-by-step-Implementation-Guide.md
/RubberDuck-Implementation-Plan.md
